<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1>All Courses</h1>
    <ul>
        <% courses.forEach(course => { %>

            <li> 
                <p class="course-label">Course ID:  <%=course.course_id%></p>
                <h2><%= course.course_name %></h2>
                <p><%= course.description %></p>
                <p class="highlighted"> <%= course.lecturer%> </p>
            </li>
        <% }) %>

    </ul>
</body>
</html>
